name: Processing_DoH_servers_IPs_list
on:
  schedule:
    - cron: "22 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use node2x
        uses: actions/setup-node@v4
        with:
          node-version: latest
      - run: node write_file_DoH_IPs.js
      - name: Commit & Push
        uses: actions-x/commit@v6
